
@font-face{
	font-family: "OptimusPrinceps";
	src: url("fonts/OptimusPrinceps.ttf")  format("truetype");
}

@font-face{
	font-family: "OptimusPrincepsSemiBold";
	src: url("fonts/OptimusPrincepSemiBold.ttf") format("truetype");
	font-weight: bold;
}




body{
	background-color: #2C1F2C;
	color: #ffa94d;
}



h1, h2, h3, h4, h5{
	font-family: OptimusPrinceps, Helvetica;
	color: #ffe6cc;
}

h1{
	font-size: 300%;
	margin-bottom: 0;
	border-bottom: 2px solid #ffe6cc;
}

h6{
	font-family: OptimusPrinceps, Helvetica;
	color: #cc6900;
	margin-top: 0;
	font-size: 150%;
	margin-bottom: 3%;
	padding-top: 10px;
}

h3, h4, h5{
	margin-top: 60px;
	margin-bottom: 0;
	padding-bottom: 0;
}

h2{
	font-size: 200%;
	text-align: center;
}

.multitool{
	margin-left: 50px;
	color: #ff704d;
}

.multip{
	margin-left: 50px;
}

p{
	font-family: Tahoma;
}



li{
	font-family: Tahoma;
	color: #ff704d;
	margin-top: 10px;
}

.magics{
	list-style-type: none;
	
}

a{
	font-family: Tahoma;
	background-color: #ffe6cc;
	font-weight: bold;
	text-decoration: none;
	padding: 3px;
	border-radius: 10px;
}

a:hover{
	background-color: #cc6900; 
	color: #ffe6cc;
}

a:active{
	background-color: #ffe6cc;
	color: #cc6900;
}

#previous{
	position: relative;
	top: 20px;
	left: 33%;
}

#next{
	position: relative;
	top: 20px;
	left: 50%;
}


strong{
	color: #ffc180;
}

.starter{
	position: relative;
	left: 5%;
}

#vigor{
	list-style-image: url("../media/images/vigor.jpg");
}
#attunement{
	list-style-image: url("../media/images/attunement.jpg");
}
#endurance{
	list-style-image: url("../media/images/endurance.jpg");
}
#vitality{
	list-style-image: url("../media/images/vitality.jpg");
}
#strength{
	list-style-image: url("../media/images/strength.jpg");
}
#dexterity{
	list-style-image: url("../media/images/dexterity.jpg");
}
#intelligence{
	list-style-image: url("../media/images/intelligence.jpg");
}
#faith{
	list-style-image: url("../media/images/faith.jpg");
}
#luck{
	list-style-image: url("../media/images/luck.jpg");
}

.materials{
	padding-left: 30px;
}

table{
	float: left;
}
th{
	font-family: OptimusPrinceps, sans-serif;
	background-color: #b35900;
	font-weight: bold;
	color: #ffe6cc;
}
		
td{
	font-family: Tahoma;
	padding: 4px;
	border: 2px solid #b35900;
}

#leftside{
	position: relative;
	width: 75%;
	left: 10px;
	margin-right: 5px;
}

footer{
	position: relative;
	top: 50px;
	color: #ffe6cc;
	font-size: 15px;
	width: 100%;
	text-align: center;
	clear: both;
	
}

/*Navigation*/
#navcontainer{
}

#navlist{
	height: 22px;
	padding: 3px 0;
	margin-left: 0;
	font: bold 15px Tahoma, sans-serif;
}

#navlist li{
	width: 100%;
	display: inline;
	list-style: none;
	
}

#navlist li a{
	width: 100%;
	padding: 5px 10px;
	border-bottom: none;
	text-decoration: none;
	border-radius: 0;
}

#navlist a:link{
	color: #cc6900;
}


#navlist a:hover{
	color: #ffe6cc;
	background: #cc6900;
}

#navlist a:active{
	background-color: #ffe6cc;
	color: #cc6900;
}


